<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        width="300px"
        height="300px"
        src={{imageurl}}
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ name }}</p>
        <p class="subtitle is-6">{{ "@" }}{{ atname }}</p>
      </div>
    </div>

    <div class="content">
      {{ email }}
    </div>
  </div>
</div>
